/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused cpuidle.off=1 root=/dev/mmcblk1p2 rw rootwait";
        stdout-path = "serial0:115200n8";
    };
};


&qspi {
    flash@0 {
        compatible = "n25q128a","micron,m25p80";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0 0xff0f0000 0x10000000>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
        spi-max-frequency = <54000000>; /* Based on DC1 spec */
    };
};

&gem3 {
    status="okay";
    phy-handle = <&phyc>; 
    pinctrl-names = "default"; 
    local-mac-address = [00 0a 35 00 22 01]; 
    phyc: phy@1 { 
        reg = <0x1>;
    };
};

&gem1 {
    status="okay";
    phy-handle=<&phy1>;
    gmii2rgmii-phy-handle=<&gmiitorgmii>;
    phy-mode="rgmii-rxid";
    xlnx,has-mdio=<0x1>;
    mdio:mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy1: phy@1 {
            reg = <1>;
        };

        gmiitorgmii: gmiitorgmii@8 {
            compatible = "xlnx,gmii-to-rgmii-4.0";
            reg = <8>;
            phy-handle= <&phy1>;
        };
    };
};


&sdhci1 {
    status = "okay";
    no-1-8-v;
    disable-wp;
    max-frequency=<10000000>;
    //broken-mmc-highspeed;

};

&sdhci0 {
    status = "okay";
    no-1-8-v;
};

